
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.car-service {
	margin: 0 auto;
}

.title {
    background: #f20c0c;
    height: 2.5rem;
    margin-left: 7rem;
    margin-right: 4rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    line-height: 2.3rem;
    opacity: 0.8;
    font-weight: bold;
}

.car-classes {

    display: flex;
    margin-left: 15rem;
    margin-right: 7rem;
    text-align: center;
    margin-bottom: 2rem;
    /* color: white; */
}

/*.car-classes div {

	height: 10rem;
    
}*/

.title-classes-cars {
    background: black;
    color: white;
    font-size: 0.9rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 5px 0 5px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.btn_class_cars {
    padding-top: 7rem;
}

.btn_class_cars a {
    background: #f43c3c;
    padding: 7px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn_class_cars a:hover {
	opacity: 0.7;
	transition: all 0.5s ease;
}

/*Down pointing*/

.triangle-down {
    width: 10%;
    height: 0;
    padding-left:10%;
    padding-top: 10%;
    overflow: hidden;
    margin-left: 38%;
    margin-top: 1rem;
    visibility: hidden; 
}

.triangle-down:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-50px;
    margin-top:-50px;
    
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #f43c3c;
    
}

/*Main container with widget*/ 

.main {
    margin-left: 15rem;
    margin-right: 7rem;
    margin-bottom: 2rem;
    display: flex;
}

.widget {
    float: right;
    /*margin-right: 7rem;*/
}

ul#widget_list {
    list-style-type: none;
    font-size: 1.2rem;
    margin-top: 1rem;
    border-left: 1px solid #0000007d;
}

ul#widget_list a {
    margin-top: 10px;
    margin-left: 0;
    line-height: 2rem;
    text-transform: uppercase;
    color: #0000007d;
}

.image-car img {
    width: 80%;
}

.message p {
    text-align: center;
    color: red;
    font-size: 1.2rem;
    margin: 0;
}

ul#widget_list li {
    width: auto;
    padding-left: 20px;
    height: 30px;
    right: 30px;
    position: relative;
    background: red;
    opacity: 0.5;
}

ul#widget_list li:after {
    content: " ";
    position: absolute;
    left: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    /* background: red; */
    border-right: 15px solid red;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    /* opacity: 0.6; */
  }

ul#widget_list li:before {
    content: "";
    position: absolute;
    /* right: -20px; */
    bottom: 0;
    width: 0;
    height: 0;
    /* border-left: 20px solid red; */
    /* border-top: 20px solid transparent; */
    /* border-bottom: 20px solid transparent; */
  }