
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.car-service {
	margin: 0 auto;
}

.title {
    background: #f20c0c;
    height: 2.5rem;
    margin-left: 7rem;
    margin-right: 4rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    line-height: 2.3rem;
    opacity: 0.8;
    font-weight: bold;
}

.car-classes {

    display: flex;
    margin-left: 15rem;
    margin-right: 7rem;
    text-align: center;
    margin-bottom: 2rem;
    /* color: white; */
}

/*.car-classes div {

	height: 10rem;
    
}*/

.title-classes-cars {
    background: black;
    color: white;
    font-size: 0.9rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 5px 0 5px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.btn_class_cars {
    padding-top: 7rem;
}

.btn_class_cars a {
    background: #f43c3c;
    padding: 7px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn_class_cars a:hover {
	opacity: 0.7;
	transition: all 0.5s ease;
}

/*Down pointing*/

.triangle-down {
    width: 10%;
    height: 0;
    padding-left:10%;
    padding-top: 10%;
    overflow: hidden;
    margin-left: 38%;
    margin-top: 1rem;
    visibility: hidden; 
}

.triangle-down:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-50px;
    margin-top:-50px;
    
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #f43c3c;
    
}

/*Main container with widget*/ 

.main {
    margin-left: 15rem;
    margin-right: 7rem;
    margin-bottom: 2rem;
    display: flex;
}

.widget {
    float: right;
    /*margin-right: 7rem;*/
}

ul#widget_list,
ul#widget_list_details {
    list-style-type: none;
    font-size: 1.2rem;
    margin-top: 1rem;
    border-left: 1px solid #0000007d;
    margin-bottom: 0px;
    margin-top: 0px;
}

/*.widget-list-details li a {
    font-size: 0.8rem;

}
*/
ul#sub_menu {
    list-style-type: none;
    padding-left: 20px;
}

ul#widget_list_details {
    padding-left: 30px;

}

ul#widget_list a,
ul#widget_list_details a {
    margin-top: 10px;
    margin-left: 0;
    line-height: 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #0000007d;
    
}

#sub_menu a {
    font-size: 0.7rem !important;
}

.sub-head-menu {
    font-size: 0.8rem;
}

.dropdown {
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 60%;
    margin-top: -6px;
    border-width: 6px 6px 0px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.widget-list .active a, #sub_menu .active a {
    color: white !important;
}

.image-car img {
    width: 100%;
    position: relative;
    top: 10%;
    right: 10%;
}

.price {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    color: #f43c3c;
    border-bottom: 1px solid black;
    font-size: 1.3rem;
}

.price-details {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-size: 0.9rem;
}

.price p, .price-details p {
    margin-bottom: 0;
    margin-top: 0;
}

#price {
    color: #f43c3c;
    margin-left: 50px;
    font-size: 1.3rem;
}

.message p {
    text-align: center;
    color: red;
    font-size: 1.2rem;
    margin: 0;
}

ul#widget_list li {
    width: 136px;
    padding-left: 20px;
    height: 30px;
    right: 30px;
    position: relative;
    background: transparent;
}

.sub-head-menu {
    background: black;
    width: 136px;
    padding-left: 20px;
    height: 30px;
    right: 20px;
    position: relative;
    opacity: 0.8;
}

.sub-head-menu: hover {
    opacity: 0.6;
    transition: all 0.5s ease;
}

.sub-head-menu a {
    color: white !important;
    position: absolute;
    top: -2px;
}

.sub-head-menu:after {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 15px solid black;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

ul#widget_list li:hover {
    background: red;
    color: white;
}

ul#widget_list li:after {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    color: white;
  }

#sub_menu {

}

#sub_menu li {
    width: 130px;
    padding-left: 26px;
    height: 30px;
    right: 40px;
    position: relative;
    background: transparent;
    
}

#sub_menu li:hover {
    background: red;
    color: white;
}

#sub_menu li:after {
    content: " ";
    position: absolute;
    left: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    color: white;
  }
         